.slider h3, .slider h5, .testimoni h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #FFFFFF !important;
}

.nav-wrapper a , .nav-wrapper li , .sidenav li{
    font-family: Viga;
    color: #FFFFFF !important;
}

.slider .display {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    font-weight: 400;
}

.slider h3 {
    font-family: Viga;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    color: #FFFFFF !important;
    font-weight: 600;
}

.slider img {
    /* filter: saturate(0); */
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.5 !important;
}

.ingredient .borderbahan {
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 0px 30px 30px 0px;
}

.testimoni img {
    max-width: 300px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.8))
}

.carousel img {
    width: 100%
}

section, footer {
    padding: 20px;
}
section.services span {
    display: inline-block;
    padding: 4px 13px;
    font-size: 12px;
    border-radius: 99px;
    margin: 0 12px 12px 0;
    background-color: transparent;
    border: 1px solid #aaaaaa;
}
section.services img {
    height: 32px;
    margin: 0 12px 12px 0;
    padding: 4px 7px;
}